/* all pages */

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../images/connectwork.png");
}

html, body {
    height: 100%;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

.max-width {
    max-width: 750px;
    margin: 0px auto;
    min-width: 300px;
}


header, #header {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border: 1px solid #222;
    /* height: 75px; */
}

#home-link {
    display: inline-block;
    background-color: #4aaaa5;
    /* line-height: 80px; */
    height: 35px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
#nav {
    float: right;
    line-height: 75px;
    height: 75px;
}
#nav li {
    display: inline;
    border-radius: 4px;
}
#nav li:nth-child(odd) {
    padding: 20px;
}
#nav li:nth-child(odd):hover {
    background-color: #ddd;
}
#nav a, #nav a:active, #nav a:visited {
    text-decoration: none;
    font-size: 1.3em;
    color: #777;
}

#container {
    min-height: 100%;
    position: relative;
}

#footer {
    background-color: #666;
    color: #aaa;
    border-top: 5px solid #4aaaa5;
    height: 50px;
    line-height: 50px;
    text-align: center;

    width: 100%;
    position: absolute;
    bottom: 0;
}

#body {
    /* padding-bottom should be the height of the footer */
    padding-bottom: 50px; 
}

#mainContent {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 1.5em;
    padding: 20px;
}

#wrapper {
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 1.5em;
    padding: 20px;
}





/* index.html */

#profilePic {
    /* max-width: 100px; */
    float: left;
    margin: 10px 10px 10px 0px;
}








/* contact.html */
.contact-form-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#submit {
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #4aaaa5;
}





/* portfolio.html */
#portfolio-table {
    border-spacing: 25px;
}

#portfolio-table td {
    width: 300px;
    height: 300px;
    /* background-color: #ddd; */
}

#portfolio-table img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding: 5px; */
    /* border: 1px solid #4aaaa5; */
}

.portfolio-image-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 5px;
    color: black;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
}

.portfolio-card {
    box-shadow: 2px 3px 4px, -1px -1px 2px;
    border-radius: 10px;
    /* border: 2px solid red; */
    position: relative;
}
/* .portfolio-card-div {
    height: 100%;
    position: relative;
} */
.portfolio-card-div {
    border-radius: 10px;
    width: 45%;
    min-width: 200px;
    /* max-width: 300px; */
    max-height: 300px;
    position: relative;
    display: inline-block;
    margin: 0 auto; 
}
/* .porfolio-card-div > a {
    height: 100%;
    height: 100%;
} */
.portfolio-card-div > a > img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.card-wrapper {
    text-align: center;
}


/* media queries */
@media ( max-width: 980px ) {

}


@media ( max-width: 768px ) {

}


@media ( max-width: 640px ) {
    #header {
        background-color: #4aaaa5;
        text-align: center;
    }
    #nav {
        float: none;
        display: block;
        background-color: #fff;
        width: 100%;
        font-size: 1em;
    }
    #body {
        max-width: 95%;
    }
    #home-link {
        /* border: 1px solid red; */
    }
    #profilePic {
        width: 100%;
        margin: 10px auto;
        float: none;
        display: block;
    }
    #aboutMe {
        /* border: 1px solid red; */
    }

    .portfolio-card-div {
        width: 80%;
        /* max-width: 600px; */
        margin: 0 auto;
    }
}